* {
    background-color:#3e3e42;
    color:#ffffff;
}
#docs-bars{
    background-color:#3e3e42;
    color:#ffffff;
}
#docs-editor-container{
    background-color:#3e3e42;
    color:#ffffff;
}
.menu-button{
    background-color:#3e3e42;
    color:#ffffff;
}
.goog-toolbar-button{
    background-color:#3e3e42;
    color:#ffffff;
}
#kix-horizontal-ruler {
    background-color:#3e3e42;
    color:#ffffff;
}
#kix-vertical-ruler {
    background-color:#3e3e42;
    color:#ffffff;
}
.kix-appview-editor-container{
    background-color:#3e3e42;
    color:#ffffff;
}


