/* ===== HTML Items CSS ===== */
html { 
    scroll-behavior: smooth;
    height: 100vh;
}
body {
    background-color: #e5f4f2;
    color: #001722;
    font-family: "HammerSmith One";
    height: 100%;
    display: flex;
    flex-direction: column;
}
a {
    color: inherit;
    text-decoration: none;
}
main {
    flex: 1;
}
/* ===== HTML Pages CSS ===== */
#about-para1 {
    padding-left: 10%;
    padding-right: 2.5%;
}
#about-para2 {
    padding-left: 2.5%;
    padding-right: 10%;
}
.about {
    display: flex;
    flex-direction: row;
}
#about-end {
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 2%;
}
.about-title {
    font-style: bold;
    padding-top: 1%;
    padding-left: 10%;
    padding-right: 10%;
}
.audiences {
    border: 1px #001722;
    border-radius: 10%;
    background-color: #001722;
    color: #e5f4f2;
    padding: 1%;
    margin-left: 1%;
    margin-right: 1%;
}
.audiences h4 {
    color: #31c845;
    padding-top: 1%;
}
#audience-center-vert {
    padding-top: 5%;
}
#audience-title-center-vert {
    padding-top: 2%;
}
.audience-market {
    display: flex;
    flex-direction: row;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
}
.container-fluid {
    padding-left: 0%;
    padding-right: 0%;
}
.center-pad-text {
    padding-left: 25%;
    padding-right: 25%;
    padding-top: 1%;
    padding-bottom: 1%;
}
.disclaimer {
    font-size: x-small;
}
.divider {
    border-radius: 10px;
    border: 4px solid #31c845;
    margin-left: 10%;
    margin-right: 10%;
}
#email-address, #newsletter {
    border: none;
    border-radius: 10px;
    padding: 5px;
}
.feature1, .feature2, .feature3, .feature4 {
    display: flex;
    flex-direction: row;
    margin: auto;
    padding: auto;
    color: #001722;
    width: 100%;
}
.features {
    padding-left: 1%;
    padding-right: 1%;
}
.feature1 h2, .feature1 h5, .feature3 h2, .feature3 h5 {
    padding-left: 0%;
    padding-right: 10%;
}
.feature2 h2, .feature2 h5, .feature4 h2, .feature4 h5 {
    padding-left: 10%;
    padding-right: 0%;
}
.featuretext {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 0%;
    margin-right: 0%;
    padding-top: auto;
    padding-bottom: auto;
    padding-left: 1%;
    padding-right: 1%;
}
.featureimg-right img {
    float: inline-end;
    padding-top: auto;
    padding-left: 5%;
    padding-right: 0%;
    padding-bottom: auto;
    margin-top: auto;
    margin-left: auto;
    margin-right: 0%;
    margin-bottom: auto;
}
.featureimg-left img {
    float: inline-start;
    padding-top: auto;
    padding-left: 0%;
    padding-right: 5%;
    padding-bottom: auto;
    margin-top: auto;
    margin-left: 0%;
    margin-right: auto;
    margin-bottom: auto;
}
#footer-text {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    bottom: 0;
    right: 30%;
    left: 30%;
}
.home-footer {
    background-color: #001722;
    color: #e5f4f2;
    float: none;
    overflow: auto;
}
.footer-items {
    display: flex;
    flex-direction: row;
}
.footer-logo {
    float: left;
    padding-top: 1%;
    padding-left: 1%;
    padding-right: auto;
    padding-bottom: auto;
}
.footer-list {
    display: flex;
    flex-direction: column;
    padding: 1%;
    margin-left: auto;
    margin-right: auto;
}
.footer-newsletter {
    float: right;
    padding-top: 1%;
    padding-left: auto;
    padding-right: 1%;
    padding-bottom: auto;
}
.getstarted {
    display: flex;
    flex-direction: row;
    margin-top: 5%;
    margin-bottom: 1%;
    padding-left: 10%;
    padding-right: 10%;
}
#getstartedbutton {
    border: none;
    border-radius: 10px;
    background-color: #e5f4f2;
    color: #001722;
    padding: 5px;
    margin-top: 1%;
    margin-bottom: 1%;
}
#getstartedtitle {
    color: #e5f4f2;
    padding-top: 8%;
    padding-bottom: 1%;
}
#getstartedtext {
    background-color: #001722;
    color: #31c845;
    width: 50vw;
    border: none;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    margin-right: 0;
    padding-right: 1%;
    padding-left: 1%;
}
.groweraccessmodelsall {
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: white;
    border: 1px solid;
    border-color: lightgray;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
}
.grower_access_models_title {
    display: flex;
    flex-direction: row;
    margin-left: 15%;
    margin-right: 15%;
    justify-content: center;
}
#growercertupload {
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: white;
    border: 1px solid;
    border-color: lightgray;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.growerfeatureset {
    display: flex;
    flex-direction: row;
    padding: 1%;
    padding-left: 10%;
    padding-right: 10%;
}
.growerfeaturetext {
    margin-left: 1%;
    margin-right: 1%;
}
.growertitleset {
    display: flex;
    flex-direction: row;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 0%;
    padding-top: 2%;
}
#growertitle {
    padding-left: 0%;
    padding-right: 4%;
}
#growernetworksearch {
    padding-left: 4%;
    padding-right: 4%;
}
#growercheckbox {
    padding-left: 8%;
    padding-right: 1%;
}
#growercheckboxtitle {
    padding-left: 1%;
    padding-right: 0%;
}
.growericon {
    padding-left: 1%;
    padding-right: 2%;
}
.growermodel {
    margin-left: 10%;
    margin-right: 10%;
    padding: 2%;
}
.growermodelset {
    display: flex;
    flex-direction: row;
    padding-top: 1%;
    padding-bottom: 1%;
    justify-content: left;
}
.growernetworkbuilder {
    padding-top: 4%;
    padding-bottom: 4%;
    background-color: white;
    border: 1px solid;
    border-color: lightgray;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
}
.growernetworkoption {
    padding-left: 15%;
    padding-right: 15%;
    display: flex;
    flex-direction: row;
    padding-top: 1%;
    padding-bottom: 1%;
}
.growernetworkbutton {
    padding: 2%;
}
.growernetworkdeployed {
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 5%;
    padding-right: 5%;
    border: 1px solid;
    border-color: lightgray;
    border-radius: 5%;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
}
#file-drop-zone {
    border: 2px dashed #31c845;
    border-radius: 5%;
    text-align: center;
    padding: 20px;
    cursor: pointer;
}
#file-list {
    margin-top: 10px;
}
.form-control {
    width: 30%;
}
.home-submit {
    border: none;
    border-radius: 10px;
    background-color: #31c845;
    color: #e5f4f2;
    padding: 5px;
    margin-top: 1%;
    margin-bottom: 1%;
}
.home-title {
    font-style: bold;
    padding-top: 1%;
    padding-bottom: 1%;
}
.partnerimgs img {
    margin-left: 15px;
    margin-right: 15px;
    padding: auto;
}
.learn-more-button {
    border: none;
    border-radius: 10px;
    color: #e5f4f2;
    background-color: #001722;
    padding: 5px;
    margin-top: 1%;
    margin-bottom: 1%;
}
#learn-title {
    padding-top: 1%;
}
.learn-text {
    padding-left: 10%;
    padding-right: 10%;
}
#library-learn-title {
    padding-top: 1%;
    font-style: bold;
}
.majority-footer {
    background-color: #001722;
    color: #e5f4f2;
    position: relative;
    bottom: 0;
    right: 0;
    left: 0;
    flex-shrink: 0;
    overflow: auto;
}
#majority-footer-logo {
    float: left;
    
}
.navbar {
    padding-left: 5px;
    padding-right: 5px;
}
.navbar-brand {
    padding-left: 1%;
}
.tech-integration {
    display: flex;
    flex-direction: row;
}
.tech-integration-right {
    margin-right: 10%;
    padding-left: 1%;
    padding-top: 1%;
    padding-bottom: 0%;
}
.tech-integration-left {
    padding-right: 1%;
    padding-left: 10%;
    padding-top: 7%;
    padding-bottom: 6%;
}
.tech-offerings {
    display: flex;
    flex-direction: row;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 1%;
    padding-bottom: 1%;
}
.tech-offer1 {
    padding-right: 4%;
}
.tech-offer2 {
    padding-left: 4%;
}
.welcome {
    background-image: url("/static/images/welcome-background.png");
    background-attachment: fixed;
    background-size: 100vw 100vh;
    background-color: #001722;
    padding: auto;
    margin: auto;
    overflow: auto;
}
.welcome input {
    width: 30%;
}
.welcomefeatures {
    display: flex;
    flex-direction: row;
}
.welcomefeaturetitle1 {
    color: #e5f4f2;
    margin-top: 1%;
}
.welcomefeaturetitle2 {
    color: #31c845;
    margin-bottom: 0%;
}
.welcomefeaturetext {
    color: #e5f4f2;
    margin-left: 15px;
    margin-right: 15px;
}
.welcomeimgs img {
    margin-bottom: 1%;
}

/* Toggle Switch CSS */
    /* The switch - the box around the slider */
    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
    }
    
    /* Hide default HTML checkbox */
    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }
    
    /* The slider */
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #001722;
        -webkit-transition: .4s;
        transition: .4s;
    }
    
    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }
    
    input:checked + .slider {
        background-color: #31c845;
    }
    
    input:focus + .slider {
        box-shadow: 0 0 1px #31c845;
    }
    
    input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }
    
    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
    }
    
    .slider.round:before {
        border-radius: 50%;
    }
/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #31c845 #e5f4f2;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 12px;
  }

  *::-webkit-scrollbar-track {
    background: #e5f4f2;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #31c845;
    border-radius: 10px;
    border: 3px solid #e5f4f2;
  }

