/* ===== HTML Items CSS ===== */
html { scroll-behavior: smooth; }
body {
    background-color: #e5f4f2;
    color: #001722;
    font-family: "HammerSmith One";
}
ul {
    list-style: none;
    list-style-type: none;
}
/* ===== HomePage-Index CSS ===== */
.container-fluid {
    padding-left: 0%;
    padding-right: 0%;
}
#email-address, #newsletter {
    border: none;
    border-radius: 10px;
    padding: 5px;
}
.feature1, .feature2, .feature3, .feature4 {
    display: flex;
    flex-direction: row;
    margin: auto;
    padding: auto;
    color: #001722;
    width: 100%;
}
.features {
    padding-left: 1%;
    padding-right: 1%;
}
.feature1 h2, .feature1 h5, .feature3 h2, .feature3 h5 {
    padding-left: 0%;
    padding-right: 10%;
}
.feature2 h2, .feature2 h5, .feature4 h2, .feature4 h5 {
    padding-left: 10%;
    padding-right: 0%;
}
.featuretext {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 0%;
    margin-right: 0%;
    padding-top: auto;
    padding-bottom: auto;
    padding-left: 1%;
    padding-right: 1%;
}
.featureimg-right img {
    float: inline-end;
    padding-top: auto;
    padding-left: 5%;
    padding-right: 0%;
    padding-bottom: auto;
    margin-top: auto;
    margin-left: auto;
    margin-right: 0%;
    margin-bottom: auto;
}
.featureimg-left img {
    float: inline-start;
    padding-top: auto;
    padding-left: 0%;
    padding-right: 5%;
    padding-bottom: auto;
    margin-top: auto;
    margin-left: 0%;
    margin-right: auto;
    margin-bottom: auto;
}
.footer {
    background-color: #001722;
    color: #e5f4f2;
    float: none;
}
.footer-items {
    display: flex;
    flex-direction: row;
}
.footer-logo {
    float: left;
    padding-top: 1%;
    padding-left: 1%;
    padding-right: auto;
    padding-bottom: auto;
}
.footer-list {
    display: flex;
    flex-direction: row;
    padding: 1%;
    margin-left: auto;
    margin-right: auto;
}
.footer-newsletter {
    float: right;
    padding-top: 1%;
    padding-left: auto;
    padding-right: 1%;
    padding-bottom: auto;
}
.getstarted {
    display: flex;
    flex-direction: row;
    margin-top: 5%;
    margin-bottom: 1%;
    padding-left: 10%;
    padding-right: 10%;
}
#getstartedbutton {
    border: none;
    border-radius: 10px;
    background-color: #e5f4f2;
    color: #001722;
    padding: 5px;
    margin-top: 1%;
    margin-bottom: 1%;
}
#getstartedtitle {
    color: #e5f4f2;
    padding-top: 8%;
    padding-bottom: 1%;
}
#getstartedtext {
    background-color: #001722;
    color: #31c845;
    width: 50vw;
    border: none;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    margin-right: 0;
    padding-right: 1%;
    padding-left: 1%;
}
.home-submit {
    border: none;
    border-radius: 10px;
    background-color: #31c845;
    color: #e5f4f2;
    padding: 5px;
    margin-top: 1%;
    margin-bottom: 1%;
}
.home-title {
    font-style: bold;
    padding-top: 1%;
    padding-bottom: 1%;
}
.partnerimgs img {
    margin-left: 15px;
    margin-right: 15px;
    padding: auto;
}
.learn-more-button {
    border: none;
    border-radius: 10px;
    color: #e5f4f2;
    background-color: #001722;
    padding: 5px;
    margin-top: 1%;
    margin-bottom: 1%;
}
.navbar {
    padding-left: 5px;
    padding-right: 5px;
}
.welcome {
    background-image: url("/static/images/welcome-background.png");
    background-attachment: fixed;
    background-size: 100vw 100vh;
    background-color: #001722;
    padding: auto;
    margin: auto;
}
.welcome input {
    width: 30%;
}
.welcomefeatures {
    display: flex;
    flex-direction: row;
}
.welcomefeaturetitle1 {
    color: #e5f4f2;
    margin-top: 1%;
}
.welcomefeaturetitle2 {
    color: #31c845;
    margin-bottom: 0%;
}
.welcomefeaturetext {
    color: #e5f4f2;
    margin-left: 15px;
    margin-right: 15px;
}
.welcomeimgs img {
    margin-bottom: 1%;
}
/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #31c845 #e5f4f2;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 12px;
  }

  *::-webkit-scrollbar-track {
    background: #e5f4f2;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #31c845;
    border-radius: 10px;
    border: 3px solid #e5f4f2;
  }

