* {
    margin: auto;
    padding: auto;
}
.welcome {
    background-image: url("/static/images/welcome-background.png");
    background-attachment: fixed;
    background-size: 100vw 100vh;
    background-color: #001722;
}
.welcomefeatures {
    color: #e5f4f2;
    display: flex;
    flex-direction: row;
    margin: auto;
}
