{% extends "layout.html" %}

{% block title %}
    About Us
{% endblock %}

{% block main %}
    <div>
        <h2 class="about-title">Introducing StrainChain<br>The innovative blockchain ecosystem revolutionizing the cannabis industry.</h2>
        <hr class="divider">
        <div class="about">
            <h5 class="about-para">At StrainChain, we're committed to enhancing transparency, traceability, 
            and providing personalized, data-driven insights for users, growers, and regulators.</h5>
            <h5 class="about-para">Our platform is a pioneering venture designed to reshape how the cannabis industry operates, 
            offering unmatched accuracy and reliability in strain information.</h5>
        </div>
    </div>
    <div class="audience-market">
        <div class="audiences">
            <h4>Users</h4>
            <p>StrainChain is your trusted partner in navigating the cannabis landscape. 
            Whether you're a medicinal user seeking specific therapeutic effects or a recreational 
            consumer exploring different strains, our AI-powered Pharmacist delivers personalized strain 
            recommendations. We ensure that you have access to safe, authentic, and high-quality cannabis 
            products, enhancing your experience with peace of mind.</p>
        </div>
        <div class="audiences">
            <h4>Growers</h4>
            <p>As cultivators and producers, you're the backbone of the cannabis industry. 
            StrainChain offers you a transparent and efficient system for managing your supply 
            chain from seed to sale. Our platform helps you align production with market demands, 
            leveraging real-time data analytics and environmental monitoring. This not only optimizes 
            crop quality and yield but also builds consumer trust and regulatory compliance.</p>
        </div>
        <div class="audiences">
            <h4>Regulators</h4>
            <p>StrainChain acknowledges the critical role of regulations in the cannabis industry. 
            Our blockchain infrastructure ensures compliance with legal standards, offering a reliable 
            and tamper-proof tracking system from cultivation to consumption. We facilitate reporting 
            and adherence to evolving regulatory landscapes, making StrainChain a valuable tool for 
            maintaining industry integrity and consumer safety.</p>
        </div>
    </div>
    <div>
        <p>At StrainChain, we're dedicated to forging a connected, data-driven future for the 
        cannabis industry. Join us in this journey as we pave the way for a more transparent, 
        accountable, and user-centric market.</p>
    </div>
{% endblock %}