{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <div class="welcome">
        <div style="text-align: center;">
            <h2 style="font-style: bold;" class="home-title">Welcome</h2>
            <h5 style="font-style: bold;">"Empowering your Cannabis Journey with Personalized<br>
                Insights and Real-Time Information"</h5>
            <p>Discover a world where personalized cannabis recommendations<br> 
                meet cutting-edge technology. StrainChain is designed to enchance <br>
                your cannabis experience; whether you are a Consumer, Grower, or Dispensary Owner</p>
            <input type="text" autofocus placeholder="Email Address" id="email-address">
            <button type="submit" class="home-submit">Get Notified</button>
        </div>
        <div class="welcomefeatures">
            <div>
                <div class="welcomeimgs">
                    <img src="/static/images/sc-home-ai-circle.png" alt="AI Pharmacist" width="240" height="140">
                </div>
                <h5 class="welcomefeaturetitle1">AI Pharmacist</h5>
                <p class="welcomefeaturetitle2">Personalized Strain Recommendations</p>
                <p class="welcomefeaturetext">Discover Strains tailored to your unique preferences and needs</p>
            </div>
            <div>
                <div class="welcomeimgs">
                    <img src="/static/images/sc-home-nw-circle.png" alt="Network" width="240" height="140">
                </div>
                <h5 class="welcomefeaturetitle1">Strain Networks</h5>
                <p class="welcomefeaturetitle2">Explore Elite Strain Insights</p>
                <p class="welcomefeaturetext">Dive into a rich database for advanced strain research and knowledge</p>
            </div>
            <div>
                <div class="welcomeimgs">
                    <img src="/static/images/sc-home-rt-circle.png" alt="Real Time" width="240" height="140">
                </div>
                <h5 class="welcomefeaturetitle1">Real-Time Availability</h5>
                <p class="welcomefeaturetitle2">Instant Availability Intelligence</p>
                <p class="welcomefeaturetext">Leverage live updates to track strain stock in real-time</p>
            </div>
            <div>
                <div class="welcomeimgs">
                    <img src="/static/images/sc-home-collab-circle.png" alt="Collaboration" width="240" height="140">
                </div>
                <h5 class="welcomefeaturetitle1">Strain Collaborator</h5>
                <p class="welcomefeaturetitle2">Innovative Strain Co-Creation</p>
                <p class="welcomefeaturetext">Collaborate with Experts to develop cutting-edge cannabis strains</p>
            </div>
        </div>
    </div>
    <div class="partners">
        <div class="home-title">
            <h2>Our Partners</h2>
        </div>
        <div class="partnerimgs">
            <div>
                <img src="/static/images/alphaplant.png" alt="AlphaPlant">
                <img src="/static/images/avalabs.png" alt="Ava_Labs">
                <img src="/static/images/awspartner.png" alt="Aws_Partner">
                <img src="/static/images/blockticity.png" alt="Blockticity">
            </div>
            <div>
                <img src="/static/images/hdr.png" alt="HDR">
                <img src="/static/images/interviewmachine.png" alt="Interview_Machine">
                <img src="/static/images/kalmansforge.png" alt="Kalmans_Forge">
                <img src="/static/images/meinchain.png" alt="MeinChain">
                <img src="/static/images/sideproject.png" alt="SideProject">
                <img src="/static/images/soonami.png" alt="Soonami">
            </div>
        </div>
    </div>
    <div class="features">
        <div style="text-align: center;" class="home-title">
            <h2>Features</h2>
        </div>
        <div class="feature1">
            <div class="featuretext" style="text-align: start;">
                <h2>AI Pharmacist</h2>
                <h5>
                    Unlock the potential of personalized cannabis with StrainChain's AI Pharmacist.
                    Our sophisticated algorithm analyzes your preferences, health goals, and past experiences to recommend the perfect
                    strain for your needs. Embrace a smarter, custom-tailored approach to cannabis with our cutting-edge technology.
                </h5>
            </div>
            <div class="featureimg-right">
                <img src="/static/images/sc-home-ai-square.png" alt="AI Pharmacist" id="ai-pharmacist-home" width="475" height="400">
            </div>
        </div>
        <div class="feature2">
            <div class="featureimg-left">
                <img src="/static/images/sc-home-nw-square(1).png" alt="Network" id="network-home" width="475" height="400">
            </div>
            <div class="featuretext" style="text-align: end;">
                <h2>Strain Specific Networks</h2>
                <h5>
                    StrainChain's proprietary technology connects individual strain-specific blockchains, ensuring you have the
                    most detailed, accurate and transparent information. Trace your chosen strains journey from cultivation to consumption 
                    with unparalleled clarity and trust.
                </h5>
            </div>
        </div>
        <div class="feature3">
            <div class="featuretext" style="text-align: start;">
                <h2>Real-Time Availability</h2>
                <h5>
                    StrainChain's network gives you the power to verify the availability of your favorite strains instantly.
                    With our comprehensive, real-time tracking, you're always informed about the strains you love, ensuring
                    you never miss out.
                </h5>
            </div>
            <div class="featureimg-right">
                <img src="/static/images/sc-home-rt-square.png" alt="Real Time" id="real-time-home" width="475" height="400">
            </div>
        </div>
        <div class="feature4">
            <div class="featureimg-left">
                <img src="/static/images/sc-home-collab-square.png" alt="Collaboration" id="collab-home" width="475" height="400">
            </div>
            <div class="featuretext" style="text-align: end;">
                <h2>Strain Collaboration</h2>
                <h5>
                    At the heart of StrainChain is the spirit of collaboration. 
                    Our platform fosters a community where growers, consumers, and researchers share insights and data; driving 
                    innovation and deepening knowledge within the cannabis ecosystem.
                </h5>
            </div>
        </div>
    </div>
    <div class="getstarted">
        <div id="getstartedtext">
            <h2 id="getstartedtitle">Get Started!</h2>
            <h4 class="card-text">Begin your journey with StrainChain today. Join our community of professionals, advocates, medical users, and enthusiasts working
                towards a smarter, more transparent cannabis future. Sign up now to start exploring the possibilities.</h4>
            <a class="nav-link" href="/register"><button id="getstartedbutton">Sign Up</button></a>
        </div>
        <div id="getstartedimg">
            <img src="/static/images/getstarted.png" class="img-fluid rounded-start" alt="Get Started">
        </div>
    </div>
    <div class="footer">
        <div class="footer-items">
            <div class="footer-logo">
                <img src="/static/images/sc-home-logo-footer.png" alt="footer-logo" id="footer-logo" width="140" height="140">
            </div>
            <div class="footer-list">
                <ul>
                    <li><h4>Product</h4></li>
                    <li>Features</li>
                    <li>Pricing</li>
                </ul>
            </div>
            <div class="footer-list">
                <ul>
                    <li><h4>Resources</h4></li>
                    <li>Blog</li>
                    <li>Education</li>
                    <li>Webinars</li>
                </ul>
            </div>
            <div class="footer-list">
                <ul>
                    <li><h4>Company</h4></li>
                    <li>About</li>
                    <li>Join Us</li>
                </ul>
            </div>
            <div class="footer-newsletter">
                <h4>Subscribe to our newsletter</h4>
                <p>For product announcements and exclusive insights</p>
                <input type="text" placeholder="Input your Email" id="newsletter">
                <button type="submit" class="home-submit">Subscribe</button>
            </div>
        </div>
        <div id="footer-text">2024 StrainChain Inc. - Privacy - Terms - Sitemap</div>
    </div>
{% endblock %}