{% extends "layout.html" %}

{% block title %}
    StrainChain: Home
{% endblock %}

{% block main %}
    <div style="centered">
        <h2 style="bold">Welcome</h2>
        <h5 style="bold">"Empowering your Cannabis Journey with Personalized Insights and Real-Time Information"</h5>
        <h5 style="italics">Discover a world where personalized cannabis recommendations meet cutting-edge technology.</h5>
        <h5 style="italics">StrainChain is designed to enchance your cannabis experience; whether you are a Consumer, Grower, or Dispensary Owner</h5>
        <input type="text" autofocus placeholder="Email Address" id="email-address">
        <button type="submit" id="home-submit">Get Notified</button>
    </div>
{% endblock %}