{% extends "layout.html" %}

{% block title %}
    StrainChain: Home
{% endblock %}

{% block main %}
    <div style="text-align: center;">
        <h2 style="font-style: bold;">Welcome</h2>
        <h5 style="font-style: bold;">"Empowering your Cannabis Journey with Personalized Insights and Real-Time Information"</h5>
        <h5>Discover a world where personalized cannabis recommendations meet cutting-edge technology.</h5>
        <h5>StrainChain is designed to enchance your cannabis experience; whether you are a Consumer, Grower, or Dispensary Owner</h5>
        <input type="text" autofocus placeholder="Email Address" id="email-address">
        <button type="submit" id="home-submit">Get Notified</button>
    </div>
    <div>
        <div>
            <h5>AI Budtender</h5>
            <p>Personalized Strain Recommendation</p>
            <p>Discover Strains tailored to your unique preferences and needs</p>
            <img src="/static/images/sc-home-ai-circle.png" alt="AI BudTender" width="200" height="200">
        </div>
        <div>
            <h5>Strain Networks</h5>
            <p>Explore Elite Strain Insights</p>
            <p>Dive into a rich database for advanced strain research and knowledge</p>
            <img src="/static/images/sc-home-nw-circle.png" alt="Network" width="200" height="200">
        </div>
        <div>
            <h5>Real-Time Availability</h5>
            <p>Instant Availability Intelligence</p>
            <p>Leverage live updates to track strain stock in real-time</p>
            <img src="/static/images/sc-home-rt-circle.png" alt="Real Time" width="200" height="200">
        </div>
        <div>
            <h5>Strain Collaborator</h5>
            <p>Innovative Strain Co-Creation</p>
            <p>Collaborate with Experts to develop cutting-edge cannabis strains</p>
            <img src="/static/images/sc-home-collab-circle.png" alt="Collaboration" width="200" height="200">
        </div>
    </div>
    <div>
        <h2>Our Partners</h2>
    </div>
    <div></div><div></div>
    <!--IMG PLACEHOLDER-->
    <div>
        <div style="text-align: center;">
            <h2>Features</h2>
        </div>
        <div>
            <div style="text-align: left;">
                <h2>AI Budtender</h2>
                <h5>
                    Unlock the potential of personalized cannabis with StrainChain's AI Budtender.<br>
                    Our sophisticated algorithm analyzes your preferences, health goals, and past <br> experiences to recommend the perfect
                    strain for your needs. Embrace a smarter, custom-tailored approach to cannabis <br> with our cutting-edge technology.
                </h5>
            </div>
            <div>
                <!--IMG PLACEHOLDER-->
            </div>
        </div>
        <div>
            <div style="text-align: right;">
                <h2>Strain Specific Networks</h2>
                <h5>
                    StrainChain's proprietary technology connects individual strain-specific blockchains, <br> ensuring you have the
                    most detailed, accurate and transparent information. <br> Trace your chosen strains journey from cultivation to consumption <br>
                    with unparalleled clarity and trust.
                </h5>
            </div>
            <div>
                <!--IMG PLACEHOLDER-->
            </div>
        </div>
        <div>
            <div style="text-align: left;">
                <h2>Real-Time Availability</h2>
                <h5>
                    StrainChain's network gives you the power to verify the availability <br> of your favorite strains instantly.
                    With our comprehensive, real-time tracking, <br> you're always informed about the strains you love, ensuring
                    you never miss out
                </h5>
            </div>
            <div>
                <!--IMG PLACEHOLDER-->
            </div>
        </div>
        <div>
            <div style="text-align: right;">
                <h2>Strain Collaboration</h2>
                <h5>
                    At the heart of StrainChain is the spirit of collaboration. <br> Our platform fosters a community where growers,
                     consumers, and researchers <br> share insights and data; driving innovation and deepening knowledge within<br>
                      the cannabis ecosystem.
                </h5>
            </div>
            <div>
                <!--IMG PLACEHOLDER-->
            </div>
        </div>
    </div>
    <div>
        <h2>Get Started!</h2>
        <h3>
            Begin your journey with StrainChain today. Join out community of professionals, advocates, medical users, and enthusiasts working
             towards a smarter, more transparent cannabis future. Sign up now to start exploring the possibilities.
        </h3>
        <a class="nav-link" href="/register"><button>Sign Up</button></a>
    </div>
    <div class="footer">
        <h4 style="text-align: center;">Product - Resources - Company</h4>
        <p style="text-align: center;">Features  Blog  About</p>
        <p style="text-align: center;">Pricing  Education  Join Us</p>
        <p style="text-align: center;">Join Us</p>
        <h4 style="text-align: right;">Subscribe to our newsletter</h4>
        <p style="text-align: right;">For product announcements and exclusive insights</p>
        <input type="text" placeholder="Input your Email" id="newsletter">
        <button type="submit" id="newsletter-sub">Subscribe</button>
        <div class="footer-text">2024 StrainChain Inc. - Privacy - Terms - Sitemap</div>
    </div>
{% endblock %}