<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--Grabbing BootStrap-->
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" rel="stylesheet">
    <script crossorigin="anonymous" src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"></script>
    
    <link href="/static/favicon.ico" rel="icon">

    <link href="/static/styles.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Hammersmith One' rel='stylesheet'>
    
    <title>StrainChain: {% block title %}{% endblock %}</title>
</head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark" style="background-color: #001722">
        <div class="container-fluid">
            <a class="navbar-brand" href="/"><span style="color: #31c845;">StrainChain</span></a>
            <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-bs-target="#navbar" data-bs-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar">
                {% if session["user_id"] %}
                <!--If User is logged in-->
                <ul class="navbar-nav me-auto">
                    <li class="nav-item"><a class="nav-link" href="/" style="color: #e5f4f2;">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="/learn" style="color: #e5f4f2;">Learn More</a></li>
                    <li class="nav-item"><a class="nav-link" href="/networks-build" style="color: #e5f4f2;">Network Builder</a></li>
                </ul>
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="/myaccount" style="color: #31c845;">My Account</a></li>
                    <li class="nav-item"><a class="nav-link" href="/logout" style="color: #31c845;">Log Out</a></li>
                </ul>
                {% else %}
                <!--Browsing User (Not Logged In)-->
                <ul class="navbar-nav me-auto">
                    <li class="nav-item"><a class="nav-link" href="/" style="color: #e5f4f2;">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="/about" style="color: #e5f4f2;">About Us</a></li>
                    <li class="nav-item"><a class="nav-link" href="/learn" style="color: #e5f4f2;">Learn More</a></li>
                    <li class="nav-item"><a class="nav-link" href="/library-learn" style="color: #e5f4f2;">Strain Library</a></li>
                </ul>
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="/login" style="color: #31c845;">Log In</a></li>
                    <li class="nav-item"><a class="nav-link" href="/register" style="color: #31c845;">Register</a></li>
                </ul>
                {% endif %}
            </div>
        </div>
     </nav>
    <main class="container-fluid text-center">
        {% block main %}{% endblock %}
    </main>   
  </body>
        {% block footer %}
        <footer>
            <div class="majority-footer">
                <div class="footer-items">
                    <div id="majority-footer-logo">
                        <img src="/static/images/sc-home-logo-footer.png" alt="footer-logo" id="footer-logo" width="55" height="55">
                    </div>
                    <div id="footer-text">2024 StrainChain Inc. - Privacy - Terms - Sitemap</div>
                </div>
            </div>
        </footer>
        {% endblock %}
</html>