{% extends "layout.html" %}

{% block title %}
    My Networks
{% endblock %}

{% block main %}
    <div class="growertitleset">
        <div id="growertitle">
            <h2>StrainFund: Network Manager</h2>
        </div>
        <div id="growernetworksearch">
            <div class="input-group">
                <input type="text" class="form-control mx-auto w-auto" placeholder="Network Search" aria-label="network-search" id="networksearch">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="submit" style="background-color: #31c845;">&#x1F50E;&#xFE0E;</button>
                </div>
            </div>
        </div>
        <div id="growercheckbox">
            <label class="switch">
                <input type="checkbox" id="archivednetworkswitch">
                <span class="slider round"></span>
            </label>
        </div>
        <div id="growercheckboxtitle">
            <h5>Show Archived Networks</h5>
        </div>
    </div>
    <hr class="divider">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-info" role = "alert">
                    {{ message }}
                </div>
            {% endfor%}
        {% endif %}
    {% endwith %}
    {% if not user_net %}
        <h2>No Networks Launched</h2>
        <h3>Please Visit the StrainFund Network Builder to Launch a Network</h3>
        <h3>New StrainFund Networks take a second to launch, refresh to see your most up to date creation</h3>
    {% else %}
        {% for row in user_net %}  
            <div class="dropdown">
                <div class="growernetworkwrapper">
                    <button class="dropdown-toggle growernetworkdeployed" type="button" id="dropdownmenubutton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <div class="tech-integration px-4">
                            <h5 class="px-1">
                                {{ row[2] }}
                            </h5>
                            <h5 class="px-1">
                                Network
                            </h5>
                        </div>
                        <div class="tech-integration px-4">
                            <h5 class="px-1">
                                Health:
                            </h5>
                            <h5 class="px-1">
                                {{ row[7] }}
                            </h5>
                        </div>
                        <div class="tech-integration px-4">
                            <h5 class="px-1">
                                Status:
                            </h5>
                            <h5 class="px-1">
                                {{ row[3] }}
                            </h5>
                        </div>
                        <div class="tech-integration px-4">
                            <h5 class="px-1">
                                Chain ID
                            </h5>
                            <h5 class="px-1">
                                {{ row[0] }}
                            </h5>
                        </div>
                    </button>
                    <div>
                        <div class="growernetworkinner growernetworkdeployed">
                            <div class="dropdown-menu" aria-labelledby="dropdownmenubutton">
                                <div class="tech-integration">
                                    <div class="tech-integration px-4">
                                        <h5 class="px-1">
                                            Launched:
                                        </h5>
                                        <h5 class="px-1">
                                            {{ row[8] }}
                                        </h5>
                                    </div>
                                    <div class="px-4">
                                        <a class="dropdown-item" href="#">
                                            <h5 class="px-1">
                                                Connection Path
                                            </h5>
                                        </a>
                                    </div>
                                    <div class="tech-integration px-4">
                                        <label for="enabledtemplates" class="form-check-label"><h5>Enabled Templates</h5></label>
                                        <select class="form-select mx-auto w-auto" name="enabledtemplates" id="enabledtemplates">
                                            <option disabled selected="true">Network Template</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="tech-integration">
                                    <div class="px-4">
                                        <a class="dropdown-item" href="#">
                                            <h5 class="px-1">
                                                Batch Manager
                                            </h5>
                                        </a>
                                    </div>
                                    <div class="px-4">
                                        <a class="dropdown-item" href="#">
                                            <h5 class="px-1">
                                                Rewards Manager
                                            </h5>
                                        </a>
                                    </div>
                                    <div class="px-4">
                                        <a class="dropdown-item" href="#">
                                            <h5 class="px-1">
                                                Fee Manager
                                            </h5>
                                        </a>
                                    </div>
                                </div>
                                <div class="tech-integration">
                                    <div class="px-4">
                                        <a class="dropdown-item" href="#">
                                            <h5 class="px-1">
                                                App Explorer
                                            </h5>
                                        </a>
                                    </div>
                                    <div class="px-4">
                                        <a class="dropdown-item" href="#">
                                            <h5 class="px-1">
                                                Activity Explorer
                                            </h5>
                                        </a>
                                    </div>
                                    <div class="px-4">
                                        <a class="dropdown-item" href="#">
                                            <h5 class="px-1">
                                                Ecosystem Explorer
                                            </h5>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>         
        {% endfor %}
    {% endif %}
{% endblock %}