{% extends "layout.html" %}

{% block title %}
    Network Builder
{% endblock %}

{% block main %}
    <div class="growerfeatureset">
        <div class="growerfeatures">
            <h2>Strain Network Manager</h2>
        </div>
        <div class="growerfeatures">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search Across Networks" aria-label="network-search">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="submit" style="background-color: #31c845;">&#x1F50E;&#xFE0E;</button>
                </div>
            </div>
        </div>
        <div class="growerfeatures">
            <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
            </label>
        </div>
        <div class="growerfeatures">
            <p>Show Archived Networks</p>
        </div>
    </div>
    <hr class="divider">
    <div class="growerfeatureset">
        <form action="/networks-build" method="post" style="width: 50vw;">
            <div>
                <h3>Create New Strain Network</h3>
                <label for="networkname" class="form-check-label"><h5>Network Name</h5></label><br>
                <input autocomplete="off" class="form-control mx-auto w-auto" id="networkname" name="networkname" placeholder="Enter Item Name" type="text"><br>
                <label for="AccessModelSelect" class="form-check-label"><h5>Access Model</h5></label>
                <div name="AccessModelSelect">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                        <label class="form-check-label" for="inlineRadio1">Non-Participating Model</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                        <label class="form-check-label" for="inlineRadio2">Global Participation Model</label>
                    </div>
                </div>
                <br>
                <div class="form-group">
                    <label for="networkdescription">Description</label>
                    <textarea class="form-control mx-auto w-auto" id="networkdescription" maxlength="500" placeholder="Enter Item Description"></textarea>
                </div>
                <br>
                <button class="btn" type="submit" style="background-color: #31c845;">Create Strain Network</button>
            </div>
        </form>
        <div>
            <div class="groweraccessmodels">
                <div class="growerfeatureset">
                    <div class="growericon">
                        <img src="/static/images/circle-info.png" alt="info">
                    </div>
                    <div>
                        <h4>Access Models</h4>
                    </div>
                </div>
            </div>
            <div>
                <div class="growerfeatureset">
                    <div class="growericon">
                        <img src="/static/images/lock.png" alt="lock">
                    </div>
                    <div>
                        <h5>Non-Participating</h5>
                    </div>
                </div>
                <div>
                    <p>A private Blockchain Network, locked down to a single strain, and it's economy.</p>
                </div>
            </div>
            <div>
                <div class="growerfeatureset">
                    <div class="growericon">
                        <img src="/static/images/earth.png" alt="globe">
                    </div>
                    <div>
                        <h5>Participating</h5>
                    </div>
                </div>
                <div>
                    <p>A public Blockchain Network, that participates in the greater StrainChain Ecosystem.</p>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}