{% extends "layout.html" %}

{% block title %}
    Network Builder
{% endblock %}

{% block main %}
    <div class="growerfeatureset">
        <div class="growerfeatures">
            <h2>Strain Network Manager</h2>
        </div>
        <div class="growerfeatures">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search Across Networks" aria-label="network-search">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="submit" style="background-color: #31c845;">&#x1F50E;&#xFE0E;</button>
                </div>
            </div>
        </div>
        <div class="growerfeatures">
            <!-- Rounded switch -->
            <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
            </label>
        </div>
        <div class="growerfeatures">
            <p>Show Archived Networks</p>
        </div>
    </div>
    <form action="/networks-build" method="post" class="growercreatenetwork" style="width: 50vw;">
        <div>
            <h4>Create New Strain Network</h4>
            <label for="networkname">Network Name</label><br>
            <input autocomplete="off" class="form-control mx-auto w-auto" id="networkname" name="networkname" placeholder="Enter Item Name" type="text"><br>
            <label for="AccessModelSelect">Access Model</label>
            <div name="AccessModelSelect">
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="customRadioInline1" name="customRadioInline1" class="custom-control-input">
                    <label class="custom-control-label" for="customRadioInline1">Non-Participating Model</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="customRadioInline2" name="customRadioInline2" class="custom-control-input">
                    <label class="custom-control-label" for="customRadioInline2">Participating Model</label>
                </div>
            </div>
            <label for="network-description">Description</label><br>
            <textarea aria-label="network-description" name="network-description" maxlength="500" placeholder="Enter Item Description"></textarea><br>
            <button class="learn-more-button">Create Strain Network</button>
        </div>
    </form>
{% endblock %}