{% extends "layout.html" %}

{% block title %}
    Network Builder
{% endblock %}

{% block main %}
    <div class="growerfeatureset">
        <div class="growerfeatures">
            <h2>Strain Network Manager</h2>
        </div>
        <div class="growerfeatures">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search Across Networks" aria-label="network-search">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="submit">&#x1F50E;&#xFE0E;</button>
                </div>
            </div>
        </div>
        <div class="growerfeatures">
            <!-- Rounded switch -->
            <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
            </label>
        </div>
        <div class="growerfeatures">
            <h4>Show Archived Networks</h4>
        </div>
        <div class="growerfeatures">
            <button class="learn-more-button">Create Strain Network</button>
        </div>
    </div>
    <form>

    </form>
    <form>
            
    </form>
    

{% endblock %}